[Unit]
Description=Media player discovery
After=network.target network-online.target

[Service]
Type=simple
User=pi
Group=users
PIDFile=/opt/media_player/discovery_service.pid
WorkingDirectory=/opt/media_player
ExecStart=python3 /opt/media_player/discovery_service.py &
ExecStop=pkill -u pi -f '.*discovery_service\.py.*'
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
